<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="details content" contenteditable="true">
    <h2><%= course.title %></h2>
    <div class="content">
      <p><%= course.description %></p><br>
      <p class="subject"><%= course.subject %></p><br>
      <p><%= course.credits %></p><br>
    </div>
    <a class="save" data-doc="<%= course._id %>">Save Changes</a>
    <a class="delete" data-doc="<%= course._id %>">Delete Course</a>
  </div>

  <%- include("./partials/footer.ejs") %>
  
  <script>
    const trashcan = document.querySelector('a.delete');

    trashcan.addEventListener('click', (e) => {
      const endpoint = `/courses/${trashcan.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });

    // put method to update a course. course details fields are editable
    const saveChanges = document.querySelector('a.save');

    saveChanges.addEventListener('click', (e) => {
      const endpoint = `/courses/${saveChanges.dataset.doc}`;
      console.log(endpoint)
      fetch(endpoint, {
        method: 'PUT',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
    
  </script>
</body>
</html>